@model SAPI.Models.App_Order

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>App_Order</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.RowId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RowId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.UserId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UserId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.UnionId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UnionId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.OpenId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.OpenId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ResourceId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ResourceId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Resource_Type)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Resource_Type)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Purchase_Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Purchase_Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Cash_Pay)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Cash_Pay)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Card_Pay)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Card_Pay)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Discount)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Discount)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Paid_Amount)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Paid_Amount)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NoPaid_Amount)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NoPaid_Amount)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.No_Invoiced)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.No_Invoiced)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Invoiced_Amount)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Invoiced_Amount)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Show_City)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Show_City)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Show_Address)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Show_Address)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Show_Time)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Show_Time)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Order_Status)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Order_Status)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Audit_Status)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Audit_Status)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PayId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PayId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Pay_Status)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Pay_Status)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Pay_Way)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Pay_Way)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Pay_Time)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Pay_Time)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Refund_Time)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Refund_Time)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Settle_Time)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Settle_Time)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Expire_Time)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Expire_Time)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Client_Type)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Client_Type)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.User_Phone)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.User_Phone)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.User_Mail)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.User_Mail)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Creator)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Creator)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Auditor)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Auditor)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Create_Time)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Create_Time)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Update_Time)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Update_Time)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Audit_Time)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Audit_Time)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Remark)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Remark)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
